<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>後台首頁</title>
  </head>
  <body>
    <h1>後台首頁</h1>
    <p>
      歡迎，<span th:text="${loginEmp.empName}"></span>（員工編號
      <span th:text="${loginEmp.empNo}"></span>）
    </p>
    <form th:action="@{/admin/logout}" method="post">
      <button type="submit">登出</button>
    </form>

    <!-- <a th:href="@{/admin/announcement}">公告管理</a> -->
    <a th:if="${loginEmp.hasPerm(5)}" th:href="@{/admin/announcement}"
      >公告管理</a
    >

    <br />
    <br />
  </body>
</html>
