<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>最新公告</title>
</head>
<body>
	<h1>最新公告</h1>
	<p th:if="${#lists.isEmpty(annList)}">目前沒有公告</p>

	<table th:unless="${#lists.isEmpty(annList)}" style="width: 50%; text-align: center;">
		<tr>
			<th>公告日期</th>
			<th>公告標題</th>
		</tr>
		<tr th:each="ann : ${annList}">
			<td th:text="${#temporals.format(ann.annBegin, 'yyyy-MM-dd')}"></td>
			<td>
				<a th:href="@{/announcement/{no}(no=${ann.annNo})}" th:text="${ann.annTitle}"></a>
			</td>
		</tr>
	</table>

	<br>
	<br>
	<br>

	<a th:href="@{/}">回首頁</a>
</body>
</html>
